/* reseteo de estillo*/
*{  
    box-sizing: border-box;
    text-decoration: none;
}

/* cuerpo de la web */
body{
    display: flex;
    width: auto;
    flex-direction: column;    
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: #fcfcfc;
    font-weight:bold;
}

h1{
    display: flex;
    justify-content: baseline;
    text-align: center;
    letter-spacing: 0.2px;
}

/* imagen del logo */
#logo{ 
    display: flex;
    margin: 0px auto;
    width: 500px;
    border: solid 1px grey;
    border-radius: 50%;
    box-shadow:  5px 5px 60px grey;
}

.flex__header-enlaces{
    display: flex;
    padding: 10px 15px 0px 0px;       
    flex-direction: column;
    align-items: flex-end;    
}

/* menu de navegacion */
.menu{    
    display: flex;    
    padding: 20px;
    flex-direction: row;
    justify-content: center;
}

/* elementos del menu de navegacion(tabla) */
ul li{
    list-style-type: none;    
    display: flex;
    padding: 5px;
    border-left: 3px solid #f5f5f5;        
}

/* enlaces en menu */
.menu a{        
    font-size: x-large;
    bottom: 50px;
}
 
/* enlaces en general */
a{
    
    color: #669bef;
}

.flex__footer-general{
    display: flex;
    padding: 1000px 0px 20px 0px;     
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    text-align: center;
}




