@import "variables";
@import "column-flex";

* {
    color: white;
}

.border-css {
    border: 1px solid white;
}


body {

    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {

    background-color: white;

    #logo {
        width: 200px;
    }

    nav {
        div {
            ul {
                width: 100%;
                display: flex;
                justify-content: end;

                a {
                    display: inline-block;
                    color: black;
                    font-family: $font-family-primary;
                    text-decoration: none;
                    font-size: 23px;
                    padding: 0px 10px;

                    &:hover {
                        animation: bounce;
                        animation-duration: 2s;
                        color: $color-secondary;
                    }

                }
            }
        }

    }
}

h1 {
    text-align: center;
    width: 39%;
    font-family: $font-family-primary;
    padding: 20px 0px;
}

h2 {
    font-family: $font-family-secondary;
}

div {
    .cards__product {
        padding: 5px 0px;

        img {
            height: 250px;
            width: 500px;
        }
    }
}

section {
    p {
        font-family: $font-family-paragraph;
        font-size: x-large;
        font-weight: normal;
    }

    .carrousel__client {
        padding: 20px 0px;
    }

    .img__index {

        @include column-flex; 
        img {
            width: 80%;

            @media (max-width:500px) {
                width: 100%;
            }
        }
    }




    .facts__index {
        display: flex;

        img {
            width: 150px;

            @media (max-width:500px) {
                width: 100px;
            }
        }
    }

    label {
        font-weight: bold;
    }

    .img__facts-index {
        @include column-flex
    }
}

article {
    p {
        font-family: $font-family-paragraph;
        font-size: x-large;
    }
}

footer {
    display: flex;
    row-gap: row;
    font-family: $font-family-primary;
label,p{
    font-size: large;
}
    img {
        width: 50px;

        @media (max-width:500px) {
            width: 30px;
        }
    }
}