@import "variables";

* {
    color: white;
}

.border-css{
    border: 1px solid white;
}


body {

    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {    

    #logo {
        width: 300px;
        border: solid 1px grey;
        border-radius: 50%;
        box-shadow: 5px 5px 60px grey;
        
        @media (max-width:500px){
            width: 250px;
        }
    }

    nav {
        div {
            ul {
                width: 100%;
                display: flex;
                justify-content: end;

                a {
                    display: inline-block;
                    color: $color-fuente;
                    font-family: $font-family;
                    text-decoration: none;
                    font-size: 23px;
                    padding: 0px 10px;

                    &:hover{
                        animation: bounce;
                        animation-duration: 2s;
                        color: $color-fuente;
                    }
                    
                }
            }
        }

    }
}

h1 {
    text-align: center;
    width: 39%;
    font-family: $font-family;
}

section {

    .cards__product{
        padding: 5px 0px;
    }

    img {
        height: 250px;
        width: 200px;
    }
}

footer {
    display: flex;
    row-gap: row;
    font-family: $font-family;

    img {
        width: 50px;

        @media (max-width:500px){
            width: 30px;
        }
    }
}

